.App-bar{
    position: sticky;
    /* display: block; */
    background-color: rgb(255, 0, 106);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: black;
top: 0;
display: flex;
}

.box{
    display: flex;
    margin-left: auto;
}
.sticky{
position: fixed;
top: 0;
width: 100%;
left: 0;
}